@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle:wght@300;400;700&family=Nanum+Brush+Script&family=Nanum+Pen+Script&display=swap');

body {
    font-family: "Nanum Pen Script", cursive;
    margin: 40px;
    background-color: #91b3d4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: #FFF;
    padding: 20px;
    border: 2px solid #ccc;
    width: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

fieldset {
    display: flex;
}

label {
    flex-direction: column;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="file"] {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Nanum Pen Script", cursive;
    font-size: 18px;
}

#result {
    margin-top: 30px;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 6px;
}

#profilePreviewBox {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

#profilePreview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}